<h1>Hi there <%= current_user.name %></h1>
<% @secrets.each do |s| %>
	<p><%= s.content %></p>
	<p><%= s.likes.count %> likes</p>

	<% if current_user.id == s.user_id %>
		<form action="/secrets/<%= s.id %>" method='post'>
			<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      		<input type='hidden' name='_method' value='delete'>
      		<input type='submit' value='Delete'>
      	</form>
    <% end %>
<% end %>
